<section class="hero-section">
  <div class="hero-container">
    <div class="hero-content">
      <div class="profile-container">
        <div class="profile-image">
          <img src="/Perfil.jpeg" alt="Fabricio Perez">
          <div class="image-blur"></div>
        </div>
        <div class="tech-badge">Full Stack Dev</div>
      </div>
      
      <div class="hero-text">
        <h1>Fabricio Pérez</h1>
        <div class="description">
          <p>Soy desarrollador Full Stack con especialización en Angular, enfocado en la creación de aplicaciones web escalables y con interfaces intuitivas. Manejo otros frameworks como React y Vue, además de lenguajes como TypeScript, JavaScript, Python, Java y Go.</p>
          <p>Me gusta trabajar en entornos colaborativos y dinámicos, y tengo la capacidad de adaptarme rápidamente a nuevas tecnologías y herramientas para responder a las necesidades de cada proyecto.</p>
        </div>
        <div class="cta-buttons">
          <a href="#projects" class="primary-btn">Ver Proyectos</a>
          <a href="/CV/FABRICIO-CV.pdf" download class="secondary-btn">
            <i class="fas fa-download"></i>
            Descargar CV
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
